<!DOCTYPE html>
<html>
  <head>
    <title>STEM Carnival</title>
    <style>
      table, th, td, tr{
        border: 1px solid;
      }
    </style>
    
  </head>
  <body>
    <table>
      <tr>
        <th>Game UUID</td>
        <th>Player UUID</td>
        <th>Last Sensor Data</th>
      </tr>
      {% for uuid in currently_running_games %}
      <tr>
        <td>{{ currently_running_games[uuid]["current_game_uuid"] }}</td>
        <td>{{ uuid }}</td>
        <td>{{ currently_running_games[uuid]["last_sensor_data"] }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>